<div class="container">
  <div class="row card w-100">
    <h2 class="card-body">Sign up</h2>
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource, class: "error_message" %>
        <table class="table table-borderless">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="width: 40%"><%= f.label :nickname %></th>
              <td><%= f.text_field :nickname, autofocus: true, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"> <%= f.label :name %></th>
              <td><%= f.text_field :name, autofocus: true, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :email %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password", class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :password_confirmation %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :postalcode %></th>
              <td><%= f.text_field :postalcode, autofocus: true, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :prefecture %></th>
              <td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "form-control"} %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :building %></th>
              <td><%= f.text_field :building, autofocus: true, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"><%= f.label :phone %></th>
              <td><%= f.text_field :phone, autofocus: true, class:"form-control" %></td>
            </tr>
          </tbody>
        </table>
         <%= f.submit "Sign up", class: 'btn btn-primary btn' %>
      <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>