<div class="card w-100">
  <div class="card-body">
    <%= search_form_for q, url: pets_search_path do |f| %>
      <div class="input-group">
      <%= f.label :gender_id, :"性別：" %>
      <%= f.collection_select :gender_id_eq, Gender.where.not(id: 0), :id, :name, {include_blank: '--'}, {prompt: false, class: 'form-control'} %>
      <%= f.label :category_id, :"カテゴリー：" %>
      <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, {include_blank: '--'}, {prompt: false, class: 'form-control'} %>
      <%= f.label :age_id, :"年齢：" %>
      <%= f.collection_select :age_id_eq, Age.where.not(id: 0), :id, :name, {include_blank: '--'}, {prompt: false, class: 'form-control'} %>
      <%= f.label :breed, :"品種：" %>
      <%= f.search_field :breed_cont, class: 'form-control' %>
    <!--<div class="input-group2">-->
      <%= f.submit '検索', class: 'btn btn-primary btn' %>
    <!--</div>-->
      </div>
    <% end %>
  </div>
</div>
