<div class="container">
  <div class="row">
<%= search_form_for @q, url: pets_search_path do |f| %>
  <p>カテゴリー検索</p>
  <%= f.label '性別'%>
  <%= f.collection_select :gender_id_eq, Gender.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  <%= f.label 'カテゴリー'%>
  <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  <%= f.label '年齢'%>
  <%= f.collection_select :age_id_eq, Age.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  <%= f.label '品種'%>
  <%= f.search_field :breed_cont%>
  <%= f.submit '検索' %>
<% end %>
</div>
<div class="row">
<% @pet.each do |pet| %>
<div class="card" style="width: 18rem;">
  <%= attachment_image_tag pet, :image, format: 'jpeg', size: "250x250", class:"card-img-top" %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= pet.category.name %></li>
      <li class="list-group-item"><%= pet.gender.name %></li>
      <li class="list-group-item"><%= pet.breed %></li>
      <li class="list-group-item"><%= pet.age.name %></li>
    </ul>
  <div class="card-body">
    <%= link_to  "詳しく見る", pet_path(pet.id), class:"btn btn-secondary btn-sm" %>
  </div>
</div>
<% end %>
</div>
<%= paginate @pet %><!--ページング-->
</div>
