<% @page_title = 'ペット詳細' %>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-4">
        <div class="pet-profile">
          <%= attachment_image_tag @pet, :image, format: 'jpeg' %>
          <div class="favorite-btn"><!--非同期通信（お気に入りボタン）-->
            <%= render "favorites/favorite-btn", pet: @pet %>
          </div>
          <% if @pet.customer.id == current_customer.id %>
            <%= link_to "編集", edit_pet_path(@pet), class:"btn btn-light pet-button" %><br>
            <%= link_to "削除", pet_path(@pet), method: :delete, data: { confirm: "投稿を削除しますか?" }, class:"btn btn-danger pet-button" %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <table class="table table-borderless pet-profile-table">
          <tr>
            <th>投稿者</th>
            <td><%= link_to @pet.customer.name, customer_path(@pet.customer.id) %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @pet.gender.name %></td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td><%= @pet.category.name %></td>
          </tr>
          <tr>
            <th>品種</th>
            <td><%= @pet.breed %></td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%= @pet.age.name %></td>
          </tr>
          <tr>
            <th>性格</th>
            <td><%= @pet.character %></td>
          </tr>
          <tr>
            <th>経緯</th>
            <td><%= @pet.reason %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row m-5"><!--コメント入力フォーム-->
    <div class="card" id="comment_form_area"><!--エラーメッセージ表示のためフォームを更新-->
      <%= render "pet_comments/comment_form", pet: @pet, pet_comment: @pet_comment %>
    </div>
  </div>
  <div class="row m-5">
    <div class="card">
      <div id="pet_<%= @pet.id %>"><!--非同期通信（コメント表示、コメント数）-->
    </div>
    <div class="pet_comments">
      <%= render "pet_comments/pet_comment", pet: @pet %>
    </div>
  </div>
</div>


