ペット詳細
<div>
  <p>画像<%= attachment_image_tag @pet, :image, format: 'jpeg', size: "100x100" %></p>
  <p>性別<%= @pet.gender.name %></p>
  <p>カテゴリー<%= @pet.category.name %></p>
  <p>品種<%= @pet.breed %></p>
  <p>年齢<%= @pet.age.name %></p>
  <p>性格<%= @pet.character %></p>
  <p>経緯<%= @pet.reason %></p>
</div>

<%= link_to "編集", edit_pet_path(@pet) %>
<%= link_to "削除", pet_path(@pet), method: :delete %>

<div><!--コメント数、コメント内容-->
<p>コメント件数：<%= @pet.pet_comments.count %></p>
<% @pet.pet_comments.each do |pet_comment| %>
  <%= pet_comment.customer.name %>
  <%= pet_comment.created_at.strftime('%Y/%m/%d') %><%= pet_comment.comment %>
  <% if pet_comment.customer == current_customer %><!--コメント投稿者の場合、コメント削除表示-->
  <div>
    <%= link_to "削除", pet_pet_comment_path(pet_comment.pet, pet_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div><!--コメント入力フォーム-->
<%= form_with(model:[@pet, @pet_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<!--お気に入り機能-->
<% if @pet.favorited_by?(current_customer) %><!--お気に入りにログイン会員が含まれている場合-->
    <p>
      <%= link_to pet_favorites_path(@pet), method: :delete do %>
        ♥<%= @pet.favorites.count %> いいね
      <% end %>
    </p>
    <% else %><!--お気に入りにログイン会員が含まれていない場合-->
    <p>
      <%= link_to pet_favorites_path(@pet), method: :post do %>
        ♡<%= @pet.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>