<% @page_title = '投稿者ページ' %>

<div class="container">
  <div class="row card w-100">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row" style="width: 40%">ニックネーム</th>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><!-- コピー対象要素とコピーボタン -->
            <input id="copyTarget" type="text" value="<%= @customer.email %>" readonly>
            <button class="far fa-clipboard faa-horizontal animated-hover", onclick="copyToClipboard()"></button>
          </td>
        </tr>
      <% if @customer.id == current_customer.id %>
        <tr>
          <th scope="row">氏名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th scope="row">郵便番号</th>
          <td><%= @customer.postalcode %></td>
        </tr>
      <% end %>
        <tr>
          <th scope="row">都道府県</th>
          <td><%= @customer.prefecture.name %></td>
        </tr>
      <% if @customer.id == current_customer.id %>
        <tr>
          <th scope="row">市町村</th>
          <td><%= @customer.city %></td>
        </tr>
        <tr>
          <th scope="row">番地・建物名</th>
          <td><%= @customer.building %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @customer.phone %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% if @customer.id == current_customer.id %>
  <div class="top-box mt-5">
    <span>
      <%= link_to edit_customer_registration_path(@customer) do%>
        <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">情報編集</i>
      <% end %>
    </span>
    <span>
      <%= link_to  new_pet_path do %>
        <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ペット登録</i>
      <% end %>
    </span>
    <span>
      <%= link_to  pets_path(page_set: "my_pet") do %>
        <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">マイペット</i>
      <% end %>
    </span>
  </div>
<% end %>
    <% if current_customer.following?(@customer) %>
      <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-success" %>
    <% end %>
</div>

