<div>
  <p>名前<%= @customer.nickname %></p>
  <p>氏名<%= @customer.name %></p>
  <p>メール<%= @customer.email %></p>
  <p>郵便番号<%= @customer.postalcode %></p>
  <p>都道府県<%= @customer.prefecture.name %></p>
  <p>市町村<%= @customer.city %></p>
  <p>建物<%= @customer.building %></p>
  <p>電話<%= @customer.phone %></p>
</div>

<% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_registration_path(@customer) %></p>
  <% end %>