<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="slider">
        <!--<li><img class="slickimage" src="assets/dog.jpg"></li>-->
        <li><%= image_tag asset_path("dog.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/cat.jpg"></li>-->
        <li><%= image_tag asset_path("cat.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/hamster.jpg"></li>-->
        <li><%= image_tag asset_path("hamster.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/bird.jpg"></li>-->
        <li><%= image_tag asset_path("bird.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/gecko.jpg"></li>-->
        <li><%= image_tag asset_path("gecko.jpg", alt: ""),class:"slickimage" %></li>
      </ul>
    </div>
    <div class="col-6">
      <% if customer_signed_in? %>
      <div class="icon-top">
        <%= link_to new_pet_path do %>
        <i class="fas fa-paw fa-2x btn-register">ペット登録</i>
        <% end %>
      </div>
      <div class="icon-top">
        <%= link_to pets_path do %>
         <i class="fas fa-paw fa-2x btn-register">ペット閲覧</i>
        <% end %>
      </div>
      <% else %>
      <div class="icon-top">
        <%= link_to pets_path do %>
        <i class="fas fa-paw fa-2x btn-register">ペット閲覧</i>
        <% end %>
      </div>
      <div class="icon-top">
        <%= link_to new_customer_registration_path do %>
        <i class="fas fa-paw fa-2x btn-register">新規登録</i>
        <% end %>
       </div>
      <div class="icon-top padding">
        <%= link_to new_customer_session_path do %>
        <i class="fas fa-paw fa-2x btn-register">ログイン</i>
        <% end %>
       </div>
      <% end %>
    </div>
  </div>
  </div>
</div>