<div class="top">
  <div class="container">
    <div class="row">
      <ul class="slider">
        <li><img class="slickimage" src="assets/dog.jpg"></li>
        <li><img class="slickimage" src="assets/cat.jpg"></li>
        <li><img class="slickimage" src="assets/hamster.jpg"></li>
        <li><img class="slickimage" src="assets/bird.jpg"></li>
        <li><img class="slickimage" src="assets/gecko.jpg"></li>
      </ul>
    </div>
    <div class="row">
      <div class="d-grid gap-2 col-6 mx-auto">
      <% if customer_signed_in? %>
        <%= link_to 'ペットを登録する', new_pet_path, class:"btn btn-secondary" %>
        <%= link_to 'ペットを見る', pets_path, class:"btn btn-secondary" %>
      <% else %>
        <%= link_to 'ペットを見る', pets_path, class:"btn btn-secondary" %>
        <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-secondary" %>
        <%= link_to "ログイン", new_customer_session_path, class:"btn btn-secondary" %>
      <% end %>
    </div>
    </div>
  </div>
</div>