<div class="container">
    <div class="slider-box">
      <ul class="slider">
        <!--<li><img class="slickimage" src="assets/dog.jpg"></li>-->
        <li><%= image_tag asset_path("dog.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/cat.jpg"></li>-->
        <li><%= image_tag asset_path("cat.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/hamster.jpg"></li>-->
        <li><%= image_tag asset_path("hamster.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/bird.jpg"></li>-->
        <li><%= image_tag asset_path("bird.jpg", alt: ""),class:"slickimage" %></li>
        <!--<li><img class="slickimage" src="assets/gecko.jpg"></li>-->
        <li><%= image_tag asset_path("gecko.jpg", alt: ""),class:"slickimage" %></li>
      </ul>
    </div>
    <div class="top-box">
      <% if customer_signed_in? %>
      <span>
        <%= link_to new_pet_path do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ペット登録</i>
        <% end %>
      </span>
      <span>
        <%= link_to pets_path do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ペット閲覧</i>
        <% end %>
      </span>
      <span>
        <%= link_to destroy_customer_session_path, method: :delete do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ログアウト</i>
        <% end %>
      </span>
      <% else %>
      <span>
        <%= link_to pets_path do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ペット閲覧</i>
        <% end %>
      </span>
      <span>
        <%= link_to new_customer_registration_path do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">新規登録</i>
        <% end %>
       </span>
      <span>
        <%= link_to new_customer_session_path do %>
          <i class="fas fa-paw faa-float animated-hover fa-2x top-btn">ログイン</i>
        <% end %>
      </span>
      <% end %>
    </div>
</div>
